{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoodOnline</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->

	<!-- CSS -->
	<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
	
	<!-- JAVASCRIPT -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>

	<style>
		body, .main-section p, .mce-content-body p{
			font:Normal  14px/24px "Open Sans", sans-serif;letter-spacing: 0px;text-transform: none;color: #515151 !important;
		}
	</style>
</head>

<body>

	<div class="wrapper">
		
		<!-- Header Start -->
		<header id="header">
			<div class="main-header">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							
							<div class="logo">
								<figure>
									<a href="index.html" class="light-logo">
										<img src="{% static 'logo/foodOnlinelogo.png' %}" alt="FoodOnline" width="250">
									</a>
								</figure>
							</div>

							<div class="main-nav">
								<nav id="site-navigation" class="main-navigation">
									<ul>
										<li>
											<a href="#">Demos</a>
											<ul>
												<li><a href="index.html">Food Bakery</a></li>
												<li><a href="mexican-restaurant.html">Mexican Restaurant</a></li>
												<li><a href="foodstop.html">Food Stop</a></li>
												<li><a href="rtl.html">Rtl Demo</a></li>
												<li><a href="food-cout.html">Food Court</a></li>
												<li><a href="single-restaurant.html">Single Restaurant Demo</a></li>
											</ul>
										</li>

										<li><a href="listings.html">Restaurants</a></li>

										<li>
											<a href="#">Pages</a>
											<ul>
												<li><a href="price-plans.html">Price Plans</a></li>
												<li><a href="how-it-works.html">How it works</a></li>
												<li><a href="faq.html">FAQ’s</a></li>
												<li><a href="404.html">404</a></li>
												<li><a href="search-result.html">Search Result</a></li>
												<li><a href="contact-us.html">Contact</a></li>
											</ul>
										</li>

										<li>
											<a href="#">Blogs</a>
											<ul>
												<li><a href="blog-large.html">Blog Large</a></li>
												<li><a href="blog-medium.html">Blog Medium</a></li>
												<li><a href="blog-masonry.html">Blog Masonry</a></li>
												<li><a href="blog-detail.html">Blog Detail Page</a></li>
											</ul>
										</li>

									</ul>
								</nav>
							</div>

							<div class="main-location">
								<ul>
									<li class="location-has-children choose-location">
										<form action="#">
											<input type="text" value="" name="location" placeholder="Enter your delivery location" autocomplete="off">
											<span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
										</form>
									</li>
								</ul>
							</div>

						</div>

						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="login-option">
								<a class="cs-color cs-popup-joinus-btn login-popup" data-target="#sign-in" data-toggle="modal">Login / Register</a>
								<a class="get-start-btn" href="register-restaurant.html">Register Restaurant</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</header>
		<!-- Header End -->


		<!-- ========== MAIN SECTION START ========== -->
		<div class="main-section">

			<!-- Main Search Start -->
			<div class="page-section nopadding cs-nomargin" style="padding-top:200px; padding-bottom:150px; background:url(assets/extra-images/bg-image1.jpg) no-repeat center/cover;">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-12">
							<div class="element-title">
								<h1 style="font-size:40px;color:#505050;text-transform:uppercase;text-align:center;">
									We are in the business of food<br>our restaurants do
								</h1>
								<p style="font-size:18px;letter-spacing:1px;color:#505050;text-align:center;">
									Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
								</p>
							</div>
						</div>

						<!-- <div class="col-lg-12">
							<div class="main-search fancy bg-holder">
								<form>
									<div class="row">

										<div class="col-lg-6">
											<input type="text" placeholder="Resturant name">
										</div>

										<div class="col-lg-4">
											<div class="field-holder">
												<ul>
													<li class="select-location">
														<div class="foodbakery-locations-fields-group">
															<span class="foodbakery-search-location-icon">
																<i class="icon-location"></i>
															</span>

															<span id="foodbakery_radius_location_open333" class="foodbakery-radius-location">
																<i class="icon-target5"></i>
															</span>

															<input type="text" class="location-field-text filter" placeholder="All Locations">
														</div>
													</li>
												</ul>
											</div>
										</div>

										<div class="col-lg-2">
											<input type="submit" value="Search">
										</div>

									</div>
								</form>
							</div>
						</div> -->

     
                            <!-- NEW SEARCH BAR BELOW -->
         
			<div class="col-lg-12">
    <!-- <div class="main-search p-3 bg-white rounded shadow-sm"> -->
		<div class="main-search p-3 rounded shadow-sm" style="background: #8B4513;">


        <form class="w-100">
            <div class="form-row align-items-center">

                <!-- Restaurant Name -->
                <div class="col-lg-6 mb-2">
                    <input type="text" class="form-control form-control-lg" placeholder="Restaurant name">
                </div>

                <!-- Location -->
                <div class="col-lg-4 mb-2">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white">
                                <i class="icon-location"></i>
                            </span>
                        </div>

                        <input type="text" class="form-control" placeholder="All Locations">

                        <div class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="icon-target5"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Search Button -->
                <div class="col-lg-2 mb-2">
                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        Search
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>

					</div>
				</div>
			</div>
			<!-- Main Search End -->


			<!-- Top Restaurants Section -->
			<div class="page-section" style="padding-top:60px; background:#fff;">
				<div class="container">
					<h2>Top Restaurants</h2>
					<p>Explore restaurants, bars, and cafés by locality</p>

					<div class="company-logo">
						<ul>
							<li class="has-border"><img src="{% static 'extra-images/listing-logo18.png' %}" /></li>
							<li class="has-border"><img src="{% static 'extra-images/fb-restaurant-02.jpg' %}"/></li>
							<li class="has-border"><img src="{% static 'extra-images/fb-restaurant-04.jpg' %}"/></li>
							<li class="has-border"><img src="{% static 'extra-images/fb-restaurant-06.jpg' %}"/></li>
							<li class="has-border"><img src="{% static 'extra-images/listing-logo09.png' %}"/></li>
							<li class="has-border"><img src="{% static 'extra-images/listing-logo09.png' %}"/></li>
							<li class="has-border"><img src="{% static 'extra-images/fb-restaurant-04.jpg' %}"/></li>
							<li class="has-border"><img src="{% static 'extra-images/fb-restaurant-06.jpg' %}"/></li>
						</ul>
					</div>
				</div>
			</div>

	<!-- top restraurants section -->
    <!-- <div class="container">
       
        <h2 class="font-weight-bold" style="font-size:28px; color:#222;">Top Restaurants</h2>
        <p style="color:#555;">Explore restaurants, bars, and cafés by locality</p>

        <div class="row mt-4">

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="shadow-sm bg-white border rounded p-3 text-center">
                    <img src="{% static 'extra-images/listing-logo18.png' %}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="shadow-sm bg-white border rounded p-3 text-center">
                    <img src="assets/extra-images/fb-restaurant-02.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="shadow-sm bg-white border rounded p-3 text-center">
                    <img src="assets/extra-images/fb-restaurant-04.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="shadow-sm bg-white border rounded p-3 text-center">
                    <img src="assets/extra-images/fb-restaurant-06.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="shadow-sm bg-white border rounded p-3 text-center">
                    <img src="assets/extra-images/listing-logo09.png" class="img-fluid" alt="">
                </div>
            </div>

        </div>

    </div> -->

</div> 


			<div class="page-section" style="padding-top:60px;background:#fff;">
				<div class="container">

					<h2 class="text-center">Choose From Most Popular Restaurants</h2>

					<div class="listing fancy">
						<ul class="row">

							<li class="col-lg-6">
								<div class="list-post featured">
									<div class="img-holder">
										<img src="assets/extra-images/listing-logo18.png" class="img-thumb">
										<span class="restaurant-status close">Close</span>
									</div>
									<div class="text-holder">
										<h5>Restaurant Demo</h5>
										<address>Apple Juice</address>
									</div>
								</div>
							</li>

							<li class="col-lg-6">
								<div class="list-post featured">
									<div class="img-holder">
										<img src="assets/extra-images/listing-logo09.png" class="img-thumb">
										<span class="restaurant-status open">Open</span>
									</div>
									<div class="text-holder">
										<h5>Classic Restaurant</h5>
										<address>Chicken Roast, Chinese Soup, Coffee</address>
									</div>
								</div>
							</li>

						</ul>
					</div>

				</div>
			</div>

		</div>
		<!-- ========== MAIN SECTION END ========== -->


		<!-- Footer -->
		<!-- <footer id="footer" class="footer-style-2">
			<div class="footer-widget">
				<div class="container">
					<h5>Subscribe to our Newsletter</h5>
					<form>
						<input type="text" placeholder="Enter Your Email">
						<input type="submit" value="Sign Up">
					</form>
				</div>
			</div>

			<div class="copyright-sec">
				<div class="container">
					<p>© 2020 Foodbakery. All Rights Reserved.</p>
				</div>
			</div>
		</footer> -->

<!-- Footer -->
<footer id="footer" class="footer-style-2" style="background:#0b0d17; padding:60px 0 20px 0; color:#fff;">

    <!-- Subscribe Section -->
    <div class="container text-center">

        <h5 style="font-size:5rem; font-weight:600; letter-spacing:1px; margin-bottom:30px; color:#ffffff !important;">
    SUBSCRIBE TO OUR NEWSLETTER
</h5>


        <form class="row justify-content-center">

            <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                <input type="text" 
                       class="form-control form-control-lg" 
                       placeholder="Enter Your Email Address..."
                       style="border-radius:4px;">
            </div>

            <div class="col-lg-2 col-md-3 col-sm-12 mb-3">
                <button type="submit" 
                        class="btn btn-danger btn-lg btn-block" 
                        style="border-radius:4px; background:#cc1f1f; border:none;">
                    SIGN UP
                </button>
            </div>

        </form>

        <!-- Divider -->
        <div style="height:1px; background:#39404d; width:100%; margin:40px 0;"></div>

        <!-- Copyright -->
        <p style="margin-top:10px; font-size:14px; color:#cccccc;">
            © 2020 FOODBAKERY. ALL RIGHTS RESERVED. DEVELOPED BY 
            <span style="color:#e74c3c;">RATHAN KUMAR</span>
        </p>

    </div>

</footer>


	</div>

	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>

</body>
</html>
